<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="name">username</label>
        <input type="text" name="name" autocomplete="off"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off"><br><br>
        <input type="submit">
        <a href="{% url 'register'%}">Register</a>
    </form>
</body>
</html>